gym 
opencv-python
setuptools 
scipy 
dm_tree 
traci 
pygame 
lxml 
joblib 
tabulate 
pandas 
requests 
Pillow 
sympy 
easydict 
statsmodels 
networkx 
lz4 
tensorboardX 
tensorboard
pettingzoo 
pymunk 
tensorflow_probability 
torch 
torchvision 
torchaudio 
higher
ray[rllib]==2.5.0